@page
@model IndexModel
@{
    ViewData["Title"] = "Faisal Home page";
}

<div class="text-center">


    <header>
        <h1>Welcome to Faisal's' Music Page</h1>
    </header>

    <section>
        <h2>Watch my favorite song!</h2>
        <!-- Embed a YouTube video -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <footer>
        <p>Enjoy the music! 🎶</p>
    </footer>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p><button onclick="myMove()">Click Me for some Animation!</button></p>

    <div id="container">
        <div id="animate"></div>
    </div>


</div>
